.App {
	text-align: center;
}

body {
	background-color: #00334d;
	color: #fff;
}
img {
	max-width: 500px;
	width: 100%;
}
.thumbnail a p {
	color: #d5ff1a;
	margin-top: 20px;
	font-size: large;
}
.products-list .col-md-4 {
	text-align: center;
	margin-bottom: 10px;
}
